@{
    ViewBag.Title = "Администратор событий";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>Event Administrator</div>

<div>
    Congratulation, thats U!
    Choose:
    <div>
        <a href="/AdminPages/MatchupsManaging">Редактировать матчи</a>
        <a href="/AdminPages/PlayersManaging">Редактировать игроков</a>
    </div>
    <div>
        <a href="/AdminPages/SeasonsManaging">Редактировать сезоны</a>
        <a href="/AdminPages/TeamsManaging">Редактировать команды</a>
    </div>

</div>