@{
    ViewBag.Title = "Технический администратор";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>Technical Administrator</div>

<div>
    Congratulation, thats U!
    <div>
        <a href="/AdminPages/ExecutionsManaging">Редактировать исключения</a>
        <a href="/AdminPages/TeamsReportsManaging">Редактировать репорты</a>
    </div>
    
</div>