@{
    ViewBag.Title = "Страница админов";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>Окно регистрации/автооризации</div>
<div>Всплывающее окно выбора типа админа
    <div>
        <a href="/AdminPages/TechnicalAdPage">Технический администратор</a>
        <a href="/AdminPages/EventAdPage">Администратор событий</a>
    </div>
</div>