@{
    ViewBag.Title = "Страница посетителя";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>Страница посетителя.</div>
<div>
    <a href="/VisitorPages/Matchups">К списку матчей</a>
    <a href="/VisitorPages/Players">К списку игроков</a>
</div>
<div>
    <a href="/VisitorPages/Teams">К списку команд</a>
    <a href="/VisitorPages/Photos">К фотографиям</a>
</div>