@{
    ViewBag.Title = "Страница посетителя";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="/VisitorPages/Matchups" class="button-style">К списку матчей</a>
    <a href="/VisitorPages/Players" class="button-style">К списку игроков</a>
</div>
<div>
    <a href="/VisitorPages/Teams" class="button-style">К списку команд</a>
    <a href="/VisitorPages/Photos" class="button-style">К фотографиям</a>
</div>

