@{
    ViewBag.Title = "Домашняя страница";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>Это домашняя - главная страница</div>
<div>
    <a href="/Pages/Admin">Перейти на страницу админа</a> |
    <a href="/Pages/Visitor">Перейти на страницу посетителя</a>
</div>
