@{
    ViewBag.Title = "Домашняя страница";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--div>Это домашняя/главная страница</div-->
<h1>
    NBA Management System
</h1>
<div>
    Добро пожаловать в систему управления баскетбольными матчами.<br/>
    Вы будете перенаправлены на разные страницы в соответствии с Вашей ролью, нажав кнопки ниже.
</div>
<div>    
    <a href="/Pages/Admin" class="button-style">Администратор</a> <br />
    <a href="/Pages/Visitor" class="button-style">Посетитель</a>
</div>
