<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Basket|@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/js/JavaScript.js"></script>
</head>
<body>
    <header class="header">
        <div class="back-button"><a href="/Home/Index"><img src="\imgs\logo.jpg" width="6%" /></a></div>
        <div class="header-container">@ViewBag.Title</div>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer class="footer">
        
    </footer>

</body>
</html>
