<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Basket|@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body class="Layout-body">

    <header class="header-1">
        <h2>@ViewBag.Title</h2>
        <div class="header"></div>
    </header>

    <div><a href="/Home/Index">На домашнюю страницу</a></div>

    <div>
        @RenderBody()
    </div>

    <footer>
        
    </footer>

</body>
</html>
